/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');


body{
    margin: 0;
}

header .title{
    margin: 0;
    padding: .25em 0;
    font-size: 3em;
    font-family: 'Akaya Kanadaka', cursive;
    text-align: center;
    background: #1c759e;
    color: white;
}

header .title::selection{
    background-color: #17d292;
}

.game-box{
    margin: 4em 0;
    display: flex;
    justify-content: center;
}

.game-item{
    width: 15em;
    height: 12em;
    border: 2.5px solid black;
    border-radius: .5em;
    margin: 10px;
    cursor: pointer;
}

.game-item:hover{
    box-shadow: 0 0 8px #1C759E;
}

#rock{
    background-image: url("rock.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

#paper{
    background-image: url("./paper.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

#scissor{
    background-image: url("./scissor.jpg");
    background-size: 250px 194px;
    background-repeat: no-repeat;
    background-position: center top;
}

.result-box{
    width: 80%;
    padding-bottom: 1.5em;
    border: 2px solid;
    margin: 0 auto;
    max-width: 700px;
    border-radius: 10px;
}

.result-title{
    margin: 0;
    padding: 0.2em 0;
    padding-left: 1em;
    border-bottom: 5px solid;
    font-size: 2em;
    font-family: 'Segoe UI';
    font-weight: 700;
}

.result-flex{
    display: flex;
    justify-content: space-between;
    margin: 0 2em;
    font-family: 'Segoe UI';
}

.choice p{
    font-size: 1.5em;
    font-weight: 600;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    font-size: 2em;
    font-weight: 900;
}

@media screen and (max-width: 800px){
    header .title{
        font-size: 2em;
        padding: .55em 0;
    }
    .game-box{
        margin: 2em 0;
        flex-direction: column;
        align-items: center;
    }
    .game-item{
        width: 9em;
        height: 8em;
        border: 2px solid black;
    }
    .game-item:hover{
        box-shadow: 0 0 5px #1C759E;
    }    
    #scissor{
        background-size: 193px 158px;
        background-position: center;
    }
}